/* .profile {
    min-width: 320px;
    width         : 100%;
    display        : flex;
    padding        : 40px calc((100% - 880px)/2) 51px;
    box-sizing     : border-box;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

@media (max-width: 933px) {
    .profile {
      padding: 42px 27px 36px;
    }
}

@media (max-width: 710px) {
    .profile {
        justify-content: center;
        padding: 42px calc((100% - 282px)/2) 36px;
    }
  } */

.profile {
    min-width            : 320px;
    width                : 100%;
    display              : grid;
    grid-auto-flow       : column;
    grid-template-rows   : min-content;
    grid-template-columns: 120px max-content 60px auto;
    padding              : 40px calc((100% - 880px)/2) 51px;
    box-sizing           : border-box;
}

@media (max-width: 933px) {
    .profile {
        padding: 42px 27px 36px;
    }
}

@media (max-width: 710px) {
    .profile {
        display        : flex;
        flex-wrap      : wrap;
        width          : 70%;
        align-items    : center;
        justify-content: center;
        padding        : 42px 19px 36px;
        margin         : auto;
    }
}

@media (max-width: 591px) {
    .profile {
        width: 60%;
    }
}