.profile__add-button {
    box-sizing         : border-box;
    width              : 150px;
    height             : 50px;
    border             : 2px solid #FFFFFF;
    border-radius      : 2px;
    background-image   : url('../../../images/add-button-background.svg');
    background-size    : 22px;
    background-repeat  : no-repeat;
    background-position: center;
    background-color   : transparent;
    padding            : 0;
    align-self         : center;
    margin-left        : auto;
    transition         : ease-in 0.2s;
    cursor             : pointer;
}

@media (max-width: 710px) {
    .profile__add-button {
        margin: 36px 0 0;
        width: 282px;
        background-size    : 16px;
    }
}

@media (max-width: 591px) {
    .profile__add-button {
        margin: 0;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
}